.likebar {
  font-size: 0.9rem;
}

hr {
  margin: 1.5rem 0.5rem;
  width: inherit;
}

.liketext {
  margin: -1.5rem 0rem 0rem -1rem;
  position: relative;
  top: 1.5rem;
}

.buttonLink {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0 0 0 0;
  position: relative;
  top: 1rem;
  right: 0.5rem;
}
